/*
Hangman

Author: Justin Cook
Credits: Jeffri Hong
*/

html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p
{
    margin: 0;
    padding: 10px 20px 0;
}
#gallows {
    position: absolute;
    width: 35%;
    height: 50%;
    top: 10%;
    left: 25%;
}
#gallows .top {
    position: absolute;
/*  width: 60%; */
    height: 1em;
    background: #000;
}
#gallows .support {
    position: absolute;
    width: .5em;
    height: 7em;
    left: 2em;
    background: #000;
    -webkit-transform: rotate(-145deg);
    -moz-transform: rotate(-145deg);
}
#gallows .hanger {
    position: absolute;
    width: 1em;
    height: 3em;
    left: 45%;
    background: #000;
}
#gallows .upright {
    width: 1em;
    height: 100%;
    background: #000;
    position: absolute;
}
#gallows .bottom {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 1em;
    background: #000;
    margin-left: -3em;
}
.stick
{
    top: 11%;
    left: 47%;
    width: .15em;
    position: absolute;
}
.stick .head
{
    width: 2.5em;
    height: 2.5em;
    background: #fff;
    border: .15em solid #000;
    border-radius: 1.2em 1.2em;
    -moz-border-radius: 1.25em 1.25em;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1.4em;
    text-align: center;
    line-height: 3em;
        display: none;
}
.stick .body
{
    width: .15em;
    height: 4em;
    background: #000;
    position: absolute;
    top: 2.7em;
    left: 50%;
    margin-left: -.1em;
        display: none;
}
.stick .part
{
    width: .15em;
    height: 5em;
    position: absolute;
/*        top: .2em; */
    left: 50%;
    margin-left: -.1em;
}
.stick .part div
{
    height: 50%;
    background: #000;
}
.stick .lefthand
{
    top: .2em;
    -webkit-transform: rotate(-130deg);
    -moz-transform: rotate(-130deg);
        display: none;
}

.stick .righthand
{
    top: .2em;
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
        display: none;
}

.stick .leftfoot
{
    height: 7em;
    top: 3em;
    -webkit-transform: rotate(-160deg);
    -moz-transform: rotate(-160deg);
        display: none;
}

.stick .rightfoot
{
    height: 7em;
    top: 3em;
    -webkit-transform: rotate(160deg);
    -moz-transform: rotate(160deg);
        display: none;
}
.usrint {
        position: absolute;
        top: 65%;
        left: 30%;
}
p#hint {
        position: relative;
        left: -25%;
        text-align: center;
}

/* General iPad layouts */
@media only screen 
and (min-device-width: 768px)
and (max-device-width: 1024px) {
    #gallows .top {
        width: 60%;
    }
    #gallows .bottom {
        width: 110%;
    }
}

/* iPad in portrait */
@media only screen 
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation:portrait) {
    #gallows .top {
        width: 80%;
    }
}

/* iPad in landscape */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation:landscape) {
    #gallows .top {
        width: 60%;
    }
}
 
/* General retina iPad */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {
    #gallows .top {
        width: 60%;
    }
}

/* iPad retina in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
    #gallows .top {
        width: 80%;
    }
}

/* iPad retina in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    #gallows .top {
        width: 60%;
    }
}

/* iPhone 6 Plus in portrait & landscape */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) {
    #gallows .top {
        width: 125%;
    }
}

/* iPhone 6 Plus in landscape */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) {
    #gallows .top {
        width: 60%;
    }
}

/* iPhone 6 Plus in portrait */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) {
    #gallows {
        width: 50%;
    }
    #gallows .top {
        width: 125%;
    }
    #gallows .bottom {
        width: 125%;
    }
}

/* iPhone 6 in portrait & landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
    #gallows .top {
        width: 80%;
    }
}

/* iPhone 6 in landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
    #gallows .top {
        width: 60%;
    }
}

/* iPhone 6 in portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    #gallows .top {
        width: 60%;
    }
}

/* iPhone 5 & 5S in portrait & landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) {
    #gallows .top {
        width: 60%;
    }
}

/* iPhone 5 & 5S in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
    #gallows .top {
        width: 60%;
    }
}

/* iPhone 5 & 5S in portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    #gallows .top {
        width: 80%;
    }
}

/* iPhone 2G-4S general */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
    #gallows .top {
        width: 60%;
    }
}

/* iPhone 2G-4S in landscape */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : landscape) {
    #gallows .top {
        width: 60%;
    }
}

/* iPhone 2G-4S in portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) 
and (orientation : portrait) {
    #gallows .top {
        width: 80%;
    }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
    #gallows .top {
        width: 60%;
    }
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
    #gallows .top {
        width: 60%;
    }
}
